<div class="backdrop" [ngClass]="{ show: currentName }"></div>
<ul class="list-group sidebar">
  <li
    *ngFor="let category of categories"
    class="list-group-item dropdown pointer"
    [ngClass]="{ show: category.name === currentName }"
  >
    <a
      class="nav-link dropdown-toggle pointer"
      (mouseEnter)="hover(category.name)"
      (mouseLeave)="mouseLeave()"
    >
      {{ category.name }}
    </a>
    <ul
      class="dropdown-menu"
      [ngClass]="{ show: category?.name === currentName }"
    >
      <li
        *ngFor="let subCategory of category.subCategories"
        class="dropdown-item pointer"
        (mouseEnter)="hover(subCategory.name)"
        (mouseLeave)="mouseLeave()"
      >
        <a class="sub-category" (click)="redirectTo(subCategory?._id)">
          {{ subCategory.name }}</a
        >
      </li>
    </ul>
  </li>
</ul>
