<div
  *ngFor="let category of categories; let idx = index"
  class="list-group-item pointer"
  (click)="showSubCategories(idx)"
>
  <h5 class="mb-0 category-name">
    {{ category.name }}
    <img loading="auto" src="assets/icons/icon-angle.svg" alt="angle-right" />
  </h5>
  <ul
    class="collapse pointer"
    data-parent="#accordion"
    [ngClass]="{ show: idx === currentIndex }"
  >
    <li
      *ngFor="let subCategory of category.subCategories"
      class="sub-category"
      (click)="subCategorySelect(subCategory.name)"
    >
      <a class="sub-category-name">{{ subCategory.name }} </a>
    </li>
  </ul>
</div>
